_site/*
!_site/index.html
.sass-cache
Gemfile.lock
*.gem
.DS_Store
.jekyll-cache
git-update.sh
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.synctex.gz(busy)